<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="icecaptools.BundleResourceManager">
      <BundleResourceManager
            class="hvmforciaa.resourcemanagers.DefaultMakefileMineResourceManager">
      </BundleResourceManager>
      <BundleResourceManager
            class="hvmforciaa.resourcemanagers.CIAAArmResourceManagerDescriptor">
      </BundleResourceManager>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="hvmforciaa.config.HvmForCiaaPropertyPage"
            id="HvmForCIAA.properties"
            name="HVM For CIAA Properties">
            <enabledWhen>
        		<adapt
               		type="org.eclipse.core.resources.IProject">
        		</adapt>
        	</enabledWhen>
      </page>
   </extension>
   <extension
         point="icecaptools.ResourceManager">
      <ResourceManager
            class="hvmforciaa.resourcemanagers.HVMProjectResourceManager">
      </ResourceManager>
   </extension>
   <extension
         point="icecaptools.ArchitectureDependentCodeGenerator">
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.codegenerator.HeaderIfDefinedCodeGenerator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.ArchMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.CompilerMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.CpuMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.CpuTypeMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.BoardMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.codegenerator.IncludeCodeGenerator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.CiaaProjectMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.codegenerator.CiaaOsTypes">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.ModulesMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.JavaHeapSizeProjectMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.JavaStackSizeProjectMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
      <ArchitectureDependentCodeGenerator
            class="hvmforciaa.makefile.AdditionalFlagsMakefileColaborator">
      </ArchitectureDependentCodeGenerator>
   </extension>
   <extension
         point="icecaptools.ProjectResourceManager">
      <ProjectResourceManager
            class="hvmforciaa.resourcemanagers.CiaaAlternativeMakefileResourceManagerDescriptor">
      </ProjectResourceManager>
   </extension>
   <extension
         point="icecaptools.NativeMethodCodeGenerator">
      <NativeMethodCodeGenerator
            class="hvmforciaa.CiaaNativeMethodGenerator">
      </NativeMethodCodeGenerator>
   </extension>

</plugin>
